table,tr,td{
    background-color: LightGoldenRodYellow ;
    font-family: century gothic;
    color: rgb(1, 117, 1);
    border: 1px solid rgb(0, 255, 64);
    padding: 5px;
    border-collapse: collapse;
    }
    .h{
    border: 8px groove rgb(39, 219, 84);
    padding: 20px;
    }
    .posisi{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    }
    body{
    background-image: url('Need_for_Speed__Rivals_1920x1080.jpg');
    background-repeat: no-repeat;
    background-size: 1600px auto;
    }
    